input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
html, body {
    height: 100%;
}

#contact-margin {
    margin-left: 100px;
}

#wrap {
    height: 100vh;
}

.footer {
    position: relative;
    margin-top: -150px;
    height: 100px;
    clear:both;
    padding-top:20px;
}

#uvu-footer {
    background-color: #275D38 !important;
    color: #ffffff; !important;
}

#uvu-link {
    color: #ffffff;
}
#form_save {
    background-color: #275D38 !important;
    color: #ffffff;
    text-decoration: none;
}

#uvu-btn {
    background-color: #275D38 !important;
    color: #ffffff;
}

.uvu-btn{
    background-color: #275D38 !important;
    color: #ffffff;
}

#uvu-nav {
    background-color: #275D38 !important;
}

#uvu-logo {
    height: 75px;
    width: 150px;
    float: left;
    position: relative;
}

#form_first_name {
    margin-bottom: 15px;
}

#form_last_name {
    margin-bottom: 15px;
}

#form_email {
    margin-bottom: 15px;
}

#form_guest_count {
    margin-bottom: 15px;
}

#form_res_date {
    margin-bottom: 15px;
}

#form_res_time {
    margin-bottom: 15px;
}

.contact_lbl {
    color: #78be20;
}

#uvu-img {
    height: 200px;
    width: 200px;
}