input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#form_save {
    background-color: #275D38 !important;
    color: #FFFFFF;
}

#uvu-btn {
    background-color: #275D38 !important;
    color: #ffffff;
}

.uvu-btn{
    background-color: #275D38 !important;
    color: #ffffff;
}

#uvu-nav {
    background-color: #275D38 !important;
}

#uvu-logo {
    height: 75px;
    width: 150px;
    float: left;
    position: relative;
}