{% extends 'base.html.twig' %}
{% block title %} Error {% endblock %}

{% block body %}
    <h1>This confirmation number is invalid.</h1><hr>
    <a href="/reserve/find">Find Reservation</a><br>
    <a href="/reserve/new">New Reservation</a>
{% endblock %}