{% extends 'base.html.twig' %}
{% block title %} New Reservation {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <br>
    <a href="/reserve/edit">Edit existing reservation</a>
{% endblock %}
