{% extends 'base.html.twig' %}
{% block title %} New Reservation {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <br>
    <a href="/reserve/find">Edit existing reservation</a>
{% endblock %}
{% block javascripts %}
    <script>
        window.onload = function autofillFormDate() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = mm + '/' + dd + '/' + yyyy;
            document.getElementById('form_res_date').value = today;
            console.log(today)
        }
    </script>
{% endblock %}