<nav id="uvu-nav" class="navbar navbar-expand-sm navbar-dark bg-primary mb-3 nav-style">
    <div class="container">
        <img id="uvu-logo" src="/img/uvu-mono.svg" />

        <a href="/" class="navbar-brand">Reservation System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item">
                        <a href="/" class="nav-link">Dashboard</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="/reserve/new" class="nav-link">New</a>
                </li>
                <li class="nav-item">
                    <a href="/reserve/find" class="nav-link">Find</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li>
                        <a href="{{ path('logout') }}" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('login') }}" class="nav-link">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
